VITE_SUPABASE_URL=https://kioffazutprmmoiqoqdu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpb2ZmYXp1dHBybW1vaXFvcWR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MDA3OTUsImV4cCI6MjA5NjA3Njc5NX0.qu2N7teYfSwOX6jNYjwHwJu3zaKU49lg8J_alwBTHqE
